[submodule "back"]
	path = back
	url = https://github.com/eclipse-tocandira/Tocandira-back.git
[submodule "front"]
	path = front
	url = https://github.com/eclipse-tocandira/Tocandira-front.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/eclipse-tocandira/Tocandira-api-gateway.git
[submodule "watchdog"]
	path = watchdog
	url = https://github.com/eclipse-tocandira/Container-Watchdog.git
